.products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.product-card {
  width: 38%;
  padding: 10px 20px;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: start;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.315);
  border-radius: 31px;
}
.image-section {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: start;
  margin-right: 20px;
}
.product-image {
  object-fit: cover;
  border-radius: 37px;
  border: 1px solid #d8d8d8;
  width: 200px;
}
.product-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  justify-items: start;
  align-items: start;
}
.product-details-heading {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  width: 100%;
}
.product-title {
  font-size: 23px;
  font-weight: 400;
  color: #1f1f1f;
  width: 83%;
  line-height: normal;
}
.rating-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  right: -5px;
  top: 0;
}
.span-rate {
  font-size: 17px;
  font-weight: 700;
}
.colors {
  display: flex;
  margin-left: 10px;
}
.desc {
  font-size: 16px;
  font-weight: 400;
  color: #363636;
  width: 90%;
  line-height: normal;
}
.price-cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-btn {
  background-color: black;
  width: 50%;
  height: 40px;
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 16px;
}
.cart-btn:hover {
  background: linear-gradient(
    to bottom,
    rgba(178, 18, 34, 1),
    rgb(168, 38, 51)
  );
}
.heart-icon {
  position: absolute;
  border-radius: 50px;
  background-color: white;
  width: 36px;
  height: 36px;
  left: -9px;
  top: -4px;

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 4px;
}
.price {
  font-size: 24px;
  font-weight: 400;
}
.star-icon {
  width: 21px;
  height: 21px;
}
.love {
  width: 25px;
  height: 24px;
  font-weight: 400;
  align-self: end;
  margin-bottom: 0px;
}
.love:hover {
  cursor: pointer;
}
.color-circle {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  .products-container {
    column-gap: 13px;
  }
  .product-card {
    flex-direction: column;
    padding: 8px;
    height: 232px;
    width: 43%;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.315);
    .product-title {
      font-size: 12px;
      font-weight: 350;
      width: 97px;
    }
    .image-section {
      width: 100%;
      height: 50%;
      direction: rtl;
    }
    .desc {
      font-size: 9px;
      font-weight: 300;
      width: 100%;
      line-height: normal;
    }
    .product-image {
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    .star-icon {
      width: 10px;
      height: 10px;
    }
    .span-rate {
      font-size: 8px;
      font-weight: 700;
    }
    .color-circle {
      width: 10px;
      height: 10px;
    }
    .cart-btn {
      width: 50%;
      height: 20px;
      font-size: 8px;
      font-weight: 300;
      border-radius: 7.5px;
    }
    .price {
      font-size: 14px;
    }
    .colors {
      margin-left: 2px;
    }
    .love {
      width: 18px;
      height: 18px;
      font-weight: 300;
    }
    .heart-icon {
      width: 28px;
      height: 28px;
      right: -8px;
      top: -2px;
      background-color: rgba(255, 255, 255, 0.575);
    }
    .product-details-heading {
      width: 100%;
    }
  }
}
