@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

:root {
  --font-helvetica: "Helvetica Neue", Arial, sans-serif;
}
body {
  font-family: var(--font-helvetica);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
